@tailwind base;
@tailwind components;
@tailwind utilities;


  .fronti{
    justify-content: center;
    font-size: 23px;
    text-align: center;
    
  }

  .navbar{
    margin-top: 28px;
    display: inline-block;
    list-style-type: none;
  }

  .englobe:after{
    content:'';
    display:block;
    border:2px solid black;
  }

  .englobe{
    margin-top: 40px;
  }

  .logocenter{
    display: inline-block;
    vertical-align: top;
    justify-content: center;
  }

  .metabox{
    position: absolute;
    top: 0px;
    right: 0px;
    
  }

  .explication{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main1{
    margin-top: 20px;
  }
  .footer1 {
    display: flex;
    flex: 1;
    padding: 1rem 0;
    border-top: 1px solid #eaeaea;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: fixed;
    height: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }

  .imgcenter{
    justify-content: center;
  }

  .create_title{
    font-size: 45px;
    justify-content: center;
    display: flex;

  }

  .listingcreate{
    display: row;
  }
  .spimg{
    display: inline-flex;
  }

  .metabtn{
    font-size: 15px;
      padding: 10px;
      border-radius: 16px;
      background-color: purple;
      color: white;
      font-weight: bold;
  }

  .metabtn :hover{
    background-color: blue;
  }

  .wlinfo{
    font-size: 10px;
  }

.zkimage{
  border-radius: 16px;
}

.zkimage:hover{
  box-shadow: 0 0 11px purple; 

}